:root {
	--primary: #122056;
	--secondary: #5B65DC;
	--light-blue: #EEEFFD;
	--background: #FAFAFD;
	--white: #FFFFFF;
    --accent  : #FF5A7A;
    --textGelap : #2A2A2A;
  }


/* BOX FORM */
.boxTambahServices{
    width: 450px;            /* bisa diubah sesuai kebutuhan */
}
/* BOX FORM */
.boxTambahServices{
    margin: 30px;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    min-height: 100vh;       /* full height viewport */
    padding: 20px;
    margin-left: 300px;

}

.formInputServices{
    background:var(--white);
    padding:25px;
    border-radius:10px;
    width:450px; /* bisa diubah sesuai kebutuhan */
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
    align-items: center;
    justify-content: center;
    
}

.formInputServices h2{
    margin-bottom:20px;
}

/* LABEL */
.formInputServices label{
    display:block;
    margin-top:15px;
    font-weight:500;
}

/* SELECT INPUT */
.formInputServices select{
    width:100%;
    padding:10px;
    border:1px solid var(--accent);
    border-radius:6px;
    margin-top:5px;
    background-color: var(--accent);
}

/* CHECKBOX GROUP */
.checkbox-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* atur kolom checkbox sesuai lebar layar, kalo lebar maka banyak kolomnya */
    gap:10px;
    margin-top:10px;
}

/* CHECKBOX ITEM SEJAJAR DENGAN LABEL */
.checkbox-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 10px;
    border:1px solid #eee;
    border-radius:6px;
    background:#f9f9f9;
    cursor:pointer;
    font-weight: normal;
}

/* Hapus margin default checkbox */
.checkbox-item input[type="checkbox"]{
    width:16px;
    height:16px;
    margin:0;
    cursor:pointer;
}

/* BUTTON */
.formInputServices button{
    margin-top:20px;
    padding:10px;
    width:100%;
    border:none;
    border-radius:6px;
    background:#5B65DC;
    color:white;
    cursor:pointer;
}

.formInputServices button:hover{
    background:#4a52c7;
}

/* tabel */
.doctor_services{
    margin-left: 20px;
}