/* ini css untuk semua staff yg aku salin dari admin karna ada yg ga sama dengan admin */
/* DASHBOARD di semua halaman admin */

body{
    margin:0;
    font-family:'Poppins', sans-serif !important;
    background:var(--background);
}
:root {
	--primary: #122056;
	--secondary: #5B65DC;
	--light-blue: #EEEFFD;
	--background: #FAFAFD;
	--white: #FFFFFF;
    --accent  : #FF5A7A;
    --textGelap : #2A2A2A;
  }
/* layout utama */

.dashboard{
    display:flex;
    min-height:100vh;
}

/* CONTENT */

.content{
    padding:20px;
}

.h3{
    color: var(--primary); 
}
/* profile admin */
.admin {
    display: flex;
    color: var(--primary);
    font-weight: bold;
    margin-top: 5px;
    gap: 10px;
}

/* btn searching, tambah user, edit delete */
.user-header{
    display: flex;
    justify-content: flex-end; /* tombol ke kanan */
    margin-bottom: 10px;       /* jarak ke tabel */
    padding-right: 20px;
    padding-top: 10px;
}

.search-box input{
    padding:8px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-left: 40px;
    margin-top: 10px;
}

.search-box button{
    padding:8px 12px;
    background:#5B65DC;
    color:white;
    border:none;
    border-radius:5px;
}

.btn-add {
    background: #28a745;
    color: white;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.2s;
}

.btn-add:hover {
    background: #218838;
}

.btn-edit {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #5B65DC;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s, transform 0.2s;
}

.btn-edit:hover {
    background-color: #3b40a0;
    transform: scale(1.05);
}

.btn-delete {
    /* membuat elemen menjadi fleksibel untuk mengatur isi (misal checkbox, tombol, label)
     tapi tetap berada di baris yang sama dengan elemen lain. */
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: rgb(228, 56, 56);
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s, transform 0.2s;
}

.btn-delete:hover {
    background-color: #3b40a0;
    transform: scale(1.05);
}

.user-table{
    width:100%;
    border-collapse:collapse;
}

.user-table th,
.user-table td{
    padding:10px;
    border:1px solid #ddd;
    text-align:center;
}



.btnDetail {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #5B65DC;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s, transform 0.2s;
}

.btnDetail:hover {
    background-color: #3b40a0;
    transform: scale(1.05);
}

/* css di halaman user (crud) */
/* data user */
.user{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

table {
    z-index: 2;
    left: 0%;
    top: 0px;
    /* transform: translate(-50%,-50%); */
    /* width: 60%;  */
    border-collapse: collapse;
    border-spacing: 0;
    /* box-shadow: 0 2px 15px rgba(64,64,64,.7); */
    /* border-radius: 12px 12px 0 0; */
    overflow: hidden;
    width: 100%;
    border: none;
   }
   
td , th{
   padding: 15px 20px;
   text-align: center;   
   border: none;     
}
      
th{
   background-color: var(--secondary);
   color: var(--white);
   font-family: 'Dosis', sans-serif;
   font-weight: bold;
   letter-spacing: 3px;
   text-transform: uppercase;   
}
      
tr{
   width: 100%;
   background-color: #fafafa;
   font-family: 'Dosis', sans-serif;
   color: var(--textGelap)
}
      
tr:nth-child(even){
   background-color: #eeeeee;
}

/* ADD USER */
.boxTambahUser{
    width:100%;
    display:flex;
    justify-content:center;   /* tengah horizontal */
    align-items:flex-start;      /* tengah vertical */
    padding-top:10px;
}

.formInput{
    width: 100%;
    max-width: 700px;
    padding:40px;
    background:var(--white);
    box-shadow:0 10px 15px rgba(0,0,0,0.1);
    border-radius:8px;
    justify-content: center;
    margin-top: 20px;
}
.formInput h2{
    color: var(--primary);
    text-align: center;
}

.formInput input{
    width:100%;
    padding:10px;
    /* margin-bottom */
    border-radius:6px;
    border:1px solid #ddd;
    box-sizing:border-box;
    background:var(--white);
}

.formInput select{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:6px;
    border:1px solid #ddd;
    box-sizing:border-box;
    background:var(--accent);
    color: var(--light-blue);
    
}

.formInput label{
    color: var(--primary);
    font-size: small;
    font-weight: bold;
    /* padding:10px;
    margin:8px 0; */
}

.formInput input,
.formInput select,
.formInput textarea{
    width:100%;
    padding:10px;
    margin-top:6px;
    margin-bottom:12px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:14px;
    box-sizing:border-box;
}

.formInput input[type="date"]{
    height:40px;
}

/* text area alamat */
.formInput textarea {
    width: 100%;
    min-height: 100px;
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #f9fafc;
    color: var(--textGelap);
    resize: vertical; /* bisa ditarik ke bawah */
    transition: all 0.25s ease;
}

.formInput textarea:focus {
    border-color: var(--secondary);
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 0 3px var(--primary);
}



.formInput button{
    width:100%;
    padding:10px;
    background:var(--secondary);
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.formInput button:hover{
    background:var(--primary);
}

/* PASIEN */
/* css semua isi konten diluar sidebar pasien */
.mainPatients {
    /* margin-left: 260px; */
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease;
    position: relative;
    z-index: 1;  /* di bawah sidebar */
}

.topbarPatients{
    background:var(--white);
    padding:15px 25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
    z-index:100;
    position:sticky;
}
.topbarPatients h3{
    color: var(--primary);
}

.page-title{
    color:var(--primary);
}

.topbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.btn-logout{
    color:var(--primary);
    font-size:18px;
    text-decoration:none;
    padding:6px 8px;
    border-radius:6px;
}

.btn-logout:hover{
    background:var(--light-blue);
}

/* Detail Pasien */
/* Container detail pasien */
.detailTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: var(--white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    border: 1px solid #ddd; /* border luar */
}

.detailTable th {
    background: var(--secondary);
    color: white;
    padding: 12px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #ddd; /* border luar */
}

.detailTable td {
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    border: 1px solid #ddd; /* border luar */
}

.detailTable tr:last-child td {
    border-bottom: none;
}

.detailTable td strong {
    color: var(--primary);
}

/* zebra biar enak dibaca */
.detailTable tr:nth-child(even) {
    background: #f9fafc;
}